<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Lista de <b>Cargos</b></h2>
                </div>
                <div class="col-sm-6" style="display: flex; justify-content: flex-end;">
                    <form class="" style="display: flex;">
                        <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
                        <button type="button" class="btn btn-light" style="background: #0facb8;"><i class="material-icons"
                            data-toggle="tooltip" title="Visualizar">&#xe8b6;</i></button>
                    </form>
                </div>
            </div>
        </div>


        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Data última revisão</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Pessoa desenvolvedora</td>
                    <td>01/06/2021</td>
                    <td>Ativo</td>
                    <td>
                        <a href="#visualizarCargo" class="visualizar" data-toggle="modal"><i class="material-icons"
                                data-toggle="tooltip" title="Visualizar">&#xe8b6;</i></a>
                        <a href="#editarCargo" class="edit" data-toggle="modal"><i class="material-icons"
                                data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                        <a href="#deletarCargo" class="delete" data-toggle="modal"><i class="material-icons"
                                data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Pessoa desenvolvedora</td>
                    <td>01/06/2021</td>
                    <td>Ativo</td>
                    <td>
                        <a href="#visualizarCargo" class="visualizar" data-toggle="modal"><i class="material-icons"
                                data-toggle="tooltip" title="Visualizar">&#xe8b6;</i></a>
                        <a href="#editarCargo" class="edit" data-toggle="modal"><i class="material-icons"
                                data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                        <a href="#deletarCargo" class="delete" data-toggle="modal"><i class="material-icons"
                                data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                    </td>
                </tr>
                <tr>

                    <td>3</td>
                    <td>Pessoa desenvolvedora</td>
                    <td>01/06/2021</td>
                    <td>Inativo</td>
                    <td>
                        <a href="#visualizarCargo" class="visualizar" data-toggle="modal"><i class="material-icons"
                                data-toggle="tooltip" title="Visualizar">&#xe8b6;</i></a>
                        <a href="#editarCargo" class="edit" data-toggle="modal"><i class="material-icons"
                                data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                        <a href="#deletarCargo" class="delete" data-toggle="modal"><i class="material-icons"
                                data-toggle="tooltip" title="Delete">&#xE872;</i></a>

                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Pessoa recrutadora</td>
                    <td>01/06/2021</td>
                    <td>Ativo</td>
                    <td>
                        <a href="#visualizarCargo" class="visualizar" data-toggle="modal"><i class="material-icons"
                                data-toggle="tooltip" title="Visualizar">&#xe8b6;</i></a>
                        <a href="#editarCargo" class="edit" data-toggle="modal"><i class="material-icons"
                                data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                        <a href="#deletarCargo" class="delete" data-toggle="modal"><i class="material-icons"
                                data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Pessoa supervisora de qualidade</td>
                    <td>01/06/2021</td>
                    <td>Ativo</td>
                    <td>
                        <a href="#visualizarCargo" class="visualizar" data-toggle="modal"><i class="material-icons"
                                data-toggle="tooltip" title="Visualizar">&#xe8b6;</i></a>
                        <a href="#editarCargo" class="edit" data-toggle="modal"><i class="material-icons"
                                data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                        <a href="#deletarCargo" class="delete" data-toggle="modal"><i class="material-icons"
                                data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="centralizar_horizontal">
            <div class="hint-text">Mostrando <b>5</b> de <b>25</b> cargos</div>
            <div class="clearfix">

                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Anterior</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">Próximo</a></li>
                </ul>
            </div>


            <a href="#cadastrarCargo" class="btn btn-success" data-toggle="modal">
                <div class="centralizar_vertical">
                    <i class="material-icons">&#xE147;</i> &nbsp; Criar novo cargo
                </div>
            </a>
        </div>
    </div>
</div>

<!--------------------------- Cadastrar --------------------------->
<div id="cadastrarCargo" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form [formGroup]="form">
                <div class="modal-header">
                    <h4 class="modal-title">Cadastrar Cargo</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-body">

                    <div class="form-group">
                        <label for="nomeCargo" class="form-label">Nome:</label>
                        <input type="text" class="form-control" formControlName="nomeCargo"
                            placeholder="Ex.: Pessoa Desenvolvedora" required>
                    </div>

                    <div class="form-group">
                        <label for="horasMes" class="form-label">Horas/mês:</label>
                        <input type="number" class="form-control" formControlName="horasMes" placeholder="Ex.: 240" min="0"
                            max="730" required>
                    </div>

                    <div class="form-group">
                        <label for="grauInstrucao" class="form-label">Grau de Instrução:</label>
                        <input type="text" class="form-control" formControlName="grauInstrucao"
                            placeholder="Ex.: Superior completo" required>
                    </div>

                    <div class="form-group">
                        <label for="experienciaMinima" class="form-label">Experiência mínima:</label>
                        <input type="text" class="form-control" formControlName="experienciaMinima" placeholder="Ex.: 2 anos"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="cbo2002" class="form-label">CBO2002</label>
                        <!-- <select name="cbo2002" class="form-control" formControlName="cbo2002" required>
                            <option *ngFor="let cbo of cbos94" value="cbo.">Selecione...</option>
                            <option value="">322230 - Auxiliar de enfermagem</option>
                            <option value="">223820 - Fonoaudiólogo</option>
                            <option value="">225135 - Médico dermatologista</option>
                            <option value="">212405 - Desenvolvedor de TI</option>
                        </select> -->
                        <a routerLink="/cbo2002" class="edit"><input type="submit"
                                data-dismiss="modal" class="btn btn-success" value="Novo CBO2002"></a>
                    </div>

                    <div class="form-group">
                        <label for="cbo94" class="form-label">CBO1994</label>
                        <!-- <select name="cbo94" class="form-control" formControlName="cbo94" required>
                            <option selected disabled value="">Selecione...</option>
                            <option value="">57210 - Auxiliar de enfermagem</option>
                            <option value="">07925 - Fonoaudiólogo</option>
                            <option value="">06119 - Médico dermatologista</option>
                            <option value="">08320 - Desenvolvedor de TI</option>
                        </select> -->
                        <a routerLink="/cbo1994" class="edit"><input type="submit"
                                data-dismiss="modal" class="btn btn-success" value="Novo CBO1994"></a>
                    </div>

                    <div class="form-group">
                        <label for="atribuicoes" class="form-label">Atribuições:</label><br>
                        <textarea name="atribuicoes" rows="4" cols="50" class="form-control" formControlName="atribuicoes"
                            placeholder="Ex.: Programar em Java, Python, Angular; Manipular banco de dados; Front-end e back-end."
                            required></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <button type="submit" class="btn btn-success" (click)="create()">Cadastrar</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!--------------------------- Editar --------------------------->
<div id="editarCargo" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="form">
                <div class="modal-header">
                    <h4 class="modal-title">Editar Cargo</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-body">

                    <div class="form-group">
                        <label for="nome_cargo" class="form-label">Nome:</label>
                        <input type="text" class="form-control" id="nome_cargo" value="Pessoa Desenvolvedora"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="horas_mes" class="form-label">Horas/mês:</label>
                        <input type="number" class="form-control" name="horas_mes" value="240" min="0" max="730"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="grau_instrucao" class="form-label">Grau de Instrução:</label>
                        <input type="text" class="form-control" name="grau_instrucao" value="Superior completo"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="experiencia_minima" class="form-label">Experiência mínima:</label>
                        <input type="text" class="form-control" name="experiencia_minima" value="2 anos" required>
                    </div>
                    <div class="form-group">
                        <label for="CBO2002" class="form-label">CBO2002</label>
                        <select name="CBO2002" class="form-control" required>
                            <option value="">322230 - Auxiliar de enfermagem</option>
                            <option value="">223820 - Fonoaudiólogo</option>
                            <option value="">225135 - Médico dermatologista</option>
                            <option selected value="">212405 - Desenvolvedor de TI</option>
                        </select>
                    </div>

                    <div class="form-group">

                        <label for="CBO1994" class="form-label">CBO1994</label>
                        <select name="CBO2002" class="form-control" required>
                            <option value="">57210 - Auxiliar de enfermagem</option>
                            <option value="">07925 - Fonoaudiólogo</option>
                            <option value="">06119 - Médico dermatologista</option>
                            <option selected value="">08320 - Desenvolvedor de TI</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="atribucoes" class="form-label">Atribuições:</label><br>
                        <textarea name="atribucoes" rows="4" cols="50" class="form-control"
                            value="Programar em Java, Python, Angular; Manipular banco de dados; Front-end e back-end."
                            required>Programar em Java, Python, Angular; Manipular banco de dados; Front-end e back-end.</textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-success" value="Editar">
                </div>
            </form>
        </div>
    </div>
</div>

<!--------------------------- Deletar --------------------------->
<div id="deletarCargo" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="form">
                <div class="modal-header">
                    <h4 class="modal-title">Deletar Cargo</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Você tem certeza que deseja deletar o Cargo selecionado?</p>
                    <p class="text-warning"><small>Ação não pode ser desfeita.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-danger" value="Deletar">
                </div>
            </form>
        </div>
    </div>
</div>

<!--------------------------- Visualizar --------------------------->
<div id="visualizarCargo" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form [formGroup]="form">
                <div class="modal-header">
                    <h4 class="modal-title">Visualizar Cargo</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-body">

                    <div class="form-group">

                        <label for="nome_cargo" class="form-label">Nome:</label>
                        <input type="text" class="form-control" id="nome_cargo" value="Fonoaudiólogo" disabled>
                    </div>

                    <div class="form-group">
                        <label for="horas_mes" class="form-label">Horas/mês:</label>
                        <input type="number" class="form-control" name="horas_mes" value="240" min="0" max="730"
                            disabled>
                    </div>

                    <div class="form-group">
                        <label for="grau_instrucao" class="form-label">Grau de Instrução:</label>
                        <input type="text" class="form-control" name="grau_instrucao" value="Superior completo"
                            disabled>
                    </div>

                    <div class="form-group">
                        <label for="experiencia_minima" class="form-label">Experiência mínima:</label>
                        <input type="text" class="form-control" name="experiencia_minima" value="2 anos" disabled>
                    </div>

                    <div class="form-group">
                        <label for="CBO2002" class="form-label">CBO2002</label>
                        <select name="CBO2002" class="form-control" disabled>
                            <option value="">322230 - Auxiliar de enfermagem</option>
                            <option selected value="">223820 - Fonoaudiólogo</option>
                            <option value="">225135 - Médico dermatologista</option>
                            <option value="">212405 - Desenvolvedor de TI</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="CBO1994" class="form-label">CBO1994</label>
                        <select name="CBO1994" class="form-control" disabled>
                            <option value="">57210 - Auxiliar de enfermagem</option>
                            <option selected value="">07925 - Fonoaudiólogo</option>
                            <option value="">06119 - Médico dermatologista</option>
                            <option value="">08320 - Desenvolvedor de TI</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="data_cadastro" class="form-label">Data de Cadastro:</label>
                        <input type="text" class="form-control" name="data_cadastro" value="31/05/2021" disabled>
                    </div>

                    <div class="form-group">
                        <label for="ultima_revisao" class="form-label">Última revisão:</label>
                        <input type="text" class="form-control" name="ultima_revisao" value="01/06/2021" disabled>
                    </div>

                    <div class="form-group">
                        <label for="status" class="form-label">Status:</label>
                        <input type="text" class="form-control" name="status" value="Ativo" disabled>
                    </div>

                    <div class="form-group">
                        <label for="atribucoes" class="form-label">Atribuições:</label><br>
                        <textarea name="atribucoes" rows="4" cols="50" class="form-control"
                            value="Fazer exames de audiometria." disabled>Fazer exames de audiometria.</textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">

                    <a href="#editarCargo" class="edit" data-toggle="modal"><input type="submit"
                            data-dismiss="modal" class="btn btn-success" value="Editar"></a>
                </div>
            </form>

        </div>
    </div>
</div>


<!--------------------------- Cadastrar CBO1994 --------------------------->
<div id="cadastrarCBO1994" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form [formGroup]="form">
                <div class="modal-header">
                    <h4 class="modal-title">Cadastrar CBO1994</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-body">

                    <div class="form-group">
                        <label for="codigoCBO1994" class="form-label">Código:</label>
                        <input type="number" class="form-control" name="codigoCBO1994"
                            placeholder="Ex.: 24000 (cinco dígitos)" min="0" max="99999" required>
                    </div>

                    <div class="form-group">
                        <label for="descricaoCBO1994" class="form-label">Descrição:</label>
                        <input type="text" class="form-control" name="descricaoCBO1994"
                            placeholder="Ex.: Técnico de informática" required>
                    </div>

                    <div class="form-group">
                        <label for="insalubridadeCBO1994" class="form-label">Percentual Insalubridade</label>
                        <select name="insalubridadeCBO1994" class="form-control" required>
                            <option value="">0</option>
                            <option value="">10 %</option>
                            <option value="">20 %</option>
                            <option value="">40 %</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="periculosidadeCBO1994" class="form-label">Percentual Periculosidade</label>
                        <select name="periculosidadeCBO1994" class="form-control" required>
                            <option value="">0</option>
                            <option value="">30 %</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">

                    <input type="submit" data-dismiss="modal" class="btn btn-success" value="Cadastrar">
                </div>
            </form>

        </div>
    </div>
</div>

<!--------------------------- Cadastrar CBO2002 --------------------------->
<div id="cadastrarCBO2002" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form [formGroup]="form">
                <div class="modal-header">
                    <h4 class="modal-title">Cadastrar CBO2002</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="codigoCBO2002" class="form-label">Código:</label>
                        <input type="number" class="form-control" name="codigoCBO2002"
                            placeholder="Ex.: 240010 (seis dígitos)" min="0" max="999999" required>
                    </div>

                    <div class="form-group">
                        <label for="descricaoCBO2002" class="form-label">Descrição:</label>
                        <input type="text" class="form-control" name="descricaoCBO2002"
                            placeholder="Ex.: Técnico de informática" required>
                    </div>

                    <div class="form-group">
                        <label for="insalubridadeCBO2002" class="form-label">Percentual Insalubridade</label>
                        <select name="insalubridadeCBO2002" class="form-control" required>
                            <option value="">0</option>
                            <option value="">10 %</option>
                            <option value="">20 %</option>
                            <option value="">40 %</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="periculosidadeCBO2002" class="form-label">Percentual Periculosidade</label>
                        <select name="periculosidadeCBO2002" class="form-control" required>
                            <option value="">0</option>
                            <option value="">30 %</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">

                    <input type="submit" data-dismiss="modal" class="btn btn-success" value="Cadastrar">
                </div>
            </form>
        </div>
    </div>
</div>
