<div id="menuHamburguer" style="width: 75x;">
    <div id="divIcones">
        <a routerLink="/home" class="icones" data-toggle="tooltip" data-placement="right" title="Home">
            <i class="fas fa-home" style="color: white; font-size: 24px;"></i>
        </a>

        <a routerLink="/cargos" class="icones" data-toggle="tooltip" data-placement="right" title="Cargos"
            id="iconeCargo">
            <i class="fas fa-briefcase" style="color: white; font-size: 24px;"></i>
        </a>

        <a routerLink="/postos" class="icones" data-toggle="tooltip" data-placement="right" title="Postos">
            <i class="fas fa-users" style="color: white; font-size: 24px;"></i>
        </a>

        <p id="barraDeCorVertical"></p>
    </div>
</div>