#divTextoBoasVindas{
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 100%;
    height: 80%;
}

#textoBoasVindas{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}